body {
    background-color: rgb(34, 66, 126);
    background-image: url(assets/fundo\ novo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);

}

img 
{
    height: 300px;
    border: 5px solid rgb(196, 142, 99);
    border-radius: 10px;
}
footer p{
    color:rgb(80, 62, 5 ;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(80, 62, 5 ;
    font-size: xx-large;
    padding: 30px;
}