body {
    background-color: rgb(34, 66, 126);
    background-image: url(assets/thumb-1920-435371.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(145, 168, 187);

}

img 
{
    height: 300px;
    border: 5px solid rgb(243, 188, 6);
    border-radius: 10px;
}
footer p{
    color:rgb(243, 188, 6) ;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(243, 188, 6) ;
    font-size: xx-large;
    padding: 30px;
}